=subheadline($fs: $h4)
  +lh-fs(18px, $fs)
  color: color(main)
  font-weight: $bold
  text-decoration: none
  text-transform: uppercase

=viewpoint
  +lh-fs(18px, $card-label)
  background-color: color(card-bg)
  color: color(main)
  font-weight: $bold
  text-transform: uppercase
