=subheadline($fs: $h4)
  +lh-fs(18px, $fs)
  color: color(main)
  font-weight: $bold
  text-decoration: none
  text-transform: uppercase

=viewpoint
  +lh-fs(18px, $card-label)
  +rem(padding, 5px 9px 2px)
  background-color: color(card-bg)
  color: color(main)
  display: inline-block
  font-weight: $bold
  margin-right: 30px
  max-width: 25%
  text-decoration: none
  text-overflow: ellipsis
  text-transform: uppercase
  overflow: hidden
  white-space: nowrap

=button
  +rem(padding, 14px 12px 10px)
  background-color: color(main)
  border: 0
  color: color(button-color)
  display: inline-block
  line-height: 1
  text-decoration: none
  +breakpoint($md-1 0)
    +lh-fs(18px, $button-resp)

=ellipsis-title($mwidth: auto)
  clear: both
  display: block
  max-width: $mwidth
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

=triangle-bottom
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid color(main);
  content: '';
  height: 0;
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
