// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 0px;
$arrow-y: 113px;
$arrow-offset-x: 0px;
$arrow-offset-y: -113px;
$arrow-width: 11px;
$arrow-height: 22px;
$arrow-total-width: 154px;
$arrow-total-height: 135px;
$arrow-image: 'sprite.png';
$arrow: (0px, 113px, 0px, -113px, 11px, 22px, 154px, 135px, 'sprite.png', 'arrow', );
$caption-close-name: 'caption-close';
$caption-close-x: 0px;
$caption-close-y: 54px;
$caption-close-offset-x: 0px;
$caption-close-offset-y: -54px;
$caption-close-width: 32px;
$caption-close-height: 32px;
$caption-close-total-width: 154px;
$caption-close-total-height: 135px;
$caption-close-image: 'sprite.png';
$caption-close: (0px, 54px, 0px, -54px, 32px, 32px, 154px, 135px, 'sprite.png', 'caption-close', );
$caption-name: 'caption';
$caption-x: 33px;
$caption-y: 54px;
$caption-offset-x: -33px;
$caption-offset-y: -54px;
$caption-width: 32px;
$caption-height: 32px;
$caption-total-width: 154px;
$caption-total-height: 135px;
$caption-image: 'sprite.png';
$caption: (33px, 54px, -33px, -54px, 32px, 32px, 154px, 135px, 'sprite.png', 'caption', );
$cbox-arrow-name: 'cbox-arrow';
$cbox-arrow-x: 0px;
$cbox-arrow-y: 87px;
$cbox-arrow-offset-x: 0px;
$cbox-arrow-offset-y: -87px;
$cbox-arrow-width: 13px;
$cbox-arrow-height: 25px;
$cbox-arrow-total-width: 154px;
$cbox-arrow-total-height: 135px;
$cbox-arrow-image: 'sprite.png';
$cbox-arrow: (0px, 87px, 0px, -87px, 13px, 25px, 154px, 135px, 'sprite.png', 'cbox-arrow', );
$fullscreen-name: 'fullscreen';
$fullscreen-x: 91px;
$fullscreen-y: 54px;
$fullscreen-offset-x: -91px;
$fullscreen-offset-y: -54px;
$fullscreen-width: 20px;
$fullscreen-height: 20px;
$fullscreen-total-width: 154px;
$fullscreen-total-height: 135px;
$fullscreen-image: 'sprite.png';
$fullscreen: (91px, 54px, -91px, -54px, 20px, 20px, 154px, 135px, 'sprite.png', 'fullscreen', );
$logo-footer-name: 'logo-footer';
$logo-footer-x: 0px;
$logo-footer-y: 0px;
$logo-footer-offset-x: 0px;
$logo-footer-offset-y: 0px;
$logo-footer-width: 154px;
$logo-footer-height: 53px;
$logo-footer-total-width: 154px;
$logo-footer-total-height: 135px;
$logo-footer-image: 'sprite.png';
$logo-footer: (0px, 0px, 0px, 0px, 154px, 53px, 154px, 135px, 'sprite.png', 'logo-footer', );
$search-bar-active-name: 'search-bar-active';
$search-bar-active-x: 112px;
$search-bar-active-y: 54px;
$search-bar-active-offset-x: -112px;
$search-bar-active-offset-y: -54px;
$search-bar-active-width: 16px;
$search-bar-active-height: 17px;
$search-bar-active-total-width: 154px;
$search-bar-active-total-height: 135px;
$search-bar-active-image: 'sprite.png';
$search-bar-active: (112px, 54px, -112px, -54px, 16px, 17px, 154px, 135px, 'sprite.png', 'search-bar-active', );
$search-bar-form-name: 'search-bar-form';
$search-bar-form-x: 129px;
$search-bar-form-y: 54px;
$search-bar-form-offset-x: -129px;
$search-bar-form-offset-y: -54px;
$search-bar-form-width: 16px;
$search-bar-form-height: 17px;
$search-bar-form-total-width: 154px;
$search-bar-form-total-height: 135px;
$search-bar-form-image: 'sprite.png';
$search-bar-form: (129px, 54px, -129px, -54px, 16px, 17px, 154px, 135px, 'sprite.png', 'search-bar-form', );
$search-bar-inactive-name: 'search-bar-inactive';
$search-bar-inactive-x: 14px;
$search-bar-inactive-y: 87px;
$search-bar-inactive-offset-x: -14px;
$search-bar-inactive-offset-y: -87px;
$search-bar-inactive-width: 16px;
$search-bar-inactive-height: 17px;
$search-bar-inactive-total-width: 154px;
$search-bar-inactive-total-height: 135px;
$search-bar-inactive-image: 'sprite.png';
$search-bar-inactive: (14px, 87px, -14px, -87px, 16px, 17px, 154px, 135px, 'sprite.png', 'search-bar-inactive', );
$search-name: 'search';
$search-x: 66px;
$search-y: 54px;
$search-offset-x: -66px;
$search-offset-y: -54px;
$search-width: 24px;
$search-height: 24px;
$search-total-width: 154px;
$search-total-height: 135px;
$search-image: 'sprite.png';
$search: (66px, 54px, -66px, -54px, 24px, 24px, 154px, 135px, 'sprite.png', 'search', );
$spritesheet-width: 154px;
$spritesheet-height: 135px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow, $caption-close, $caption, $cbox-arrow, $fullscreen, $logo-footer, $search-bar-active, $search-bar-form, $search-bar-inactive, $search, );
$spritesheet: (154px, 135px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
