// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$logo-footer-name: 'logo-footer';
$logo-footer-x: 0px;
$logo-footer-y: 0px;
$logo-footer-offset-x: 0px;
$logo-footer-offset-y: 0px;
$logo-footer-width: 154px;
$logo-footer-height: 53px;
$logo-footer-total-width: 317px;
$logo-footer-total-height: 71px;
$logo-footer-image: 'sprite.png';
$logo-footer: (0px, 0px, 0px, 0px, 154px, 53px, 317px, 71px, 'sprite.png', 'logo-footer', );
$logo-lottery-name: 'logo-lottery';
$logo-lottery-x: 155px;
$logo-lottery-y: 0px;
$logo-lottery-offset-x: -155px;
$logo-lottery-offset-y: 0px;
$logo-lottery-width: 162px;
$logo-lottery-height: 36px;
$logo-lottery-total-width: 317px;
$logo-lottery-total-height: 71px;
$logo-lottery-image: 'sprite.png';
$logo-lottery: (155px, 0px, -155px, 0px, 162px, 36px, 317px, 71px, 'sprite.png', 'logo-lottery', );
$search-bar-active-name: 'search-bar-active';
$search-bar-active-x: 0px;
$search-bar-active-y: 54px;
$search-bar-active-offset-x: 0px;
$search-bar-active-offset-y: -54px;
$search-bar-active-width: 16px;
$search-bar-active-height: 17px;
$search-bar-active-total-width: 317px;
$search-bar-active-total-height: 71px;
$search-bar-active-image: 'sprite.png';
$search-bar-active: (0px, 54px, 0px, -54px, 16px, 17px, 317px, 71px, 'sprite.png', 'search-bar-active', );
$search-bar-inactive-name: 'search-bar-inactive';
$search-bar-inactive-x: 17px;
$search-bar-inactive-y: 54px;
$search-bar-inactive-offset-x: -17px;
$search-bar-inactive-offset-y: -54px;
$search-bar-inactive-width: 16px;
$search-bar-inactive-height: 17px;
$search-bar-inactive-total-width: 317px;
$search-bar-inactive-total-height: 71px;
$search-bar-inactive-image: 'sprite.png';
$search-bar-inactive: (17px, 54px, -17px, -54px, 16px, 17px, 317px, 71px, 'sprite.png', 'search-bar-inactive', );
$spritesheet-width: 317px;
$spritesheet-height: 71px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($logo-footer, $logo-lottery, $search-bar-active, $search-bar-inactive, );
$spritesheet: (317px, 71px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
