/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/

.fancy-login-password-link-processed {
	font-size: 14px !important;
	color: black !important;
}

.crm-container .crm-section .label {
	color: black;
}

.form-radios.custom-align{
	float: right;
	min-width: 30%;
}

#crm-container.crm-public .label {
	font-size: 12px;
	text-align: left;
	white-space: normal;
}

.crm-container.crm-public .select2-container .select2-choice {
	min-height: 39px;
	/*margin-left: 10px;*/
}

#crm-container.crm-public .crm-section, .crm-section {
	min-height: 47px;
}

.crm-container .select2-container .select2-choice abbr {
	top: 11px !important;

}

.html.not-front.not-logged-in.no-sidebars #header {
        min-height: 120px;
}

/*
#crm-container.crm-public input {
	margin-left: 10px;
}

.crm-container.crm-public .select2-container-multi .select2-choices {
	margin-left: 10px;
}

#crm-container.crm-public select {
	margin-left: 10px;
}
*/


.crm-container fieldset legend {
	color: #0e0e0e;
	font-weight: 200;
	letter-spacing: -1px;
	margin: 0;
	font-size: 2.2em;
	font-weight: 300;
	float:left;
	min-width:100%;
	top: -34px;
}

.crm-container fieldset {
	border-top: 0px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	color: #777777;
	border-radius: 8px;
	margin-top:80px;
	/*line-height: 0px;*/
}

#crm-container .credit_card_type-section .crm-credit_card_type-icons a, #crm-container .credit_card_type-section .crm-credit_card_type-icons a:link, #crm-container .credit_card_type-section .crm-credit_card_type-icons a:hover, #crm-container .credit_card_type-section .crm-credit_card_type-icons a:focus, #crm-container .credit_card_type-section .crm-credit_card_type-icons a:active {
	margin-bottom: 10px;
}

.crm-section billing_first_name-section {
	min-height: 74px;
}

input.webform-next {
        float: right;
	min-width: 130px;
}

input.webform-submit {
        float: right;
        min-width: 130px;
}

input.webform-previous {
        min-width: 130px;
}

.webform-datepicker div {
	width: 31%;
}

.webform-component select.form-select{
        width: 100%;
        height: 36px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.webform-component input.form-text{
        width: 100%;
	height: 36px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

@media (max-width: 768px) {

   form.webform-client-form {
     width: 100%;
   }
}

@media (min-width: 769px) {

   form.webform-client-form {
     margin-left: 15%;
     min-width: 600px;
     width: 70%;
   }
}
