html {
  background-color: color(page-bg);
  box-sizing: border-box;
  font-family: $main-font;
  font-size: 100%;
  height: 100%;

  body {
    height: 100%;
  }

  * {
    @include rem(font-size, $p);
    box-sizing: border-box;
    color: color(text);
    font-family: $main-font;
    font-weight: $bold;
  }
}

*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  width: 100%;
}

a {
  text-decoration: underline;
  transition: all .4s ease-in-out;

  &:hover {
    text-decoration: none;
    transition: all .4s ease-in-out;
  }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  color: color(heading);
  font-weight: $bold;
  text-decoration: underline;
}

h1,
.h1 {
  @include lh-fs(56px, $h1);
  @include rem(margin-bottom, 48px);
  line-height: 56px;
}

h2,
.h2 {
  @include lh-fs(25px, $h2);
  @include rem(margin-bottom, 15px);
}

h3,
.h3 {
  @include lh-fs(25px, $h3);
}

h4,
.h4 {
  @include lh-fs(18px, $h4);
}

a,
p,
li,
label,
blockquote {
  @include lh-fs(28px, $p);
  color: color(text);
  font-weight: $bold;
}

p {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  font-style: italic;
  padding-left: 30px;
}
