.pager-load-more {
  @include rem(padding-bottom, 64px);
  padding-left: 0;
  position: relative;
  text-align: center;

  li {
    list-style: none;
  }

  a {
    @include button;
    @include rem(font-size, 16px);
    background-color: color(load-more-bg);
    color: color(main);
    text-transform: none;
  }

  .ajax-progress-throbber {
    position: absolute;
  }
}
