.pager-load-more {
  @include rem(padding-bottom, 64px);
  padding-left: 0;
  position: relative;
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
    position: relative;
  }

  a {
    @include button;
    @include rem(font-size, $pager-button);
    background-color: color(load-more-bg);
    color: color(main);
    text-transform: none;
  }

  .ajax-progress-throbber {
    left: 100%;
    margin-top: -12px;
    position: absolute;
    top: 50%;
  }
}

@include breakpoint($md-1 0) {
  .pager-load-more a {
    @include rem(font-size, $pager-button);
    background-color: color(main);
    color: color(load-more-bg);
    line-height: 1em;
  }
}
