// Colors
//
// Use the `color()` function to add colors to CSS properties. To learn more,
// [read the Chroma documentation](http://johnalbin.github.io/chroma/).

// Define the default color scheme's color names.
$chroma: define-default-color-scheme('branding', 'The site\'s main colors. Can be used to define colors in other color schemes.');

$chroma: add-colors((
  black:         #000,
  white:         #fff,

  black-lighten: #222,
  white-darken:  #ddd,

  taupe-grey:    #313131,
  dark-grey:     #6d6d6d,
  light-grey:    #d7d7d7,
  darken-grey:   #c8c8c8,
  silver:        #999
));

// Define color names for functional uses.
$chroma: define-color-scheme('functional', 'Colors used by functional parts of the design.');
$chroma: add-colors('functional', (
  // Colors used in the main content area.
  main:                     'black',
  heading:                  'black',
  text:                     'black-lighten',

  page-bg:                  'light-grey',

  card-bg:                  'white',
  admin-menu-text-color:    'white',

  form-bg:                  'white',
  focused-input:            'black-lighten',
  button-color:             'white-darken',

  caption-color:            'dark-grey',
  caption-bg:               'taupe-grey',
  caption-title:            'silver',

  colorbox-close-button:    'silver',

  darken-background:        'darken-grey',

  related-activities-color: 'black'
));

$chroma-active-scheme: 'functional';
