// Fonts
@include font('LetteraText', LetteraTextProItalic, 400, italic);
@include font('LetteraText', LetteraTextPro, 400, normal);
@include font('LetteraText', LetteraTextProBold, 500, normal);

$main-font: 'LetteraText', sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

// Font sizes
$h1: 46px;
$h2: 20px;
$h3: 16px;
$h4: 14px;

$p:    18px;
$p-sm: 14px;

$card-label: 12px;

$social: 24px;

$fa-icon-file: '\f016';
$fa-icon-png:  '\f1c5';
$fa-icon-txt:  '\f0f6';
$fa-icon-pdf:  '\f1c1';
$fa-icon-xls:  '\f1c3';
$fa-icon-doc:  '\f1c2';

// Responsive
$h1-resp: 28px;
$button-resp: 14px;
