.chzn-container-single .chzn-single {
  background: none;
  height: auto;

  > span {
    + div {
      display: none;
    }

    &:after {
      @include triangle-bottom;
    }
  }

  &.chzn-single-with-drop > span:after {
    border-bottom: 4px solid color(main);
    border-top: 0;
  }
}

.chzn-container-single .chzn-single,
.chzn-container-single .chzn-results,
.chzn-container-single .chzn-drop {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.chzn-container {
  width: auto !important;

  .chzn-drop {
    background: none;
  }

  .chzn-search {
    padding: 0;
  }

  .chzn-results {
    display: inline-block;

    .highlighted {
      background: color(option-h);
      color: color(main);
    }
  }
}

.chzn-container-single .chzn-single > span,
.chzn-container .chzn-results li,
.who-select-prefix {
  @include rem(font-size, $form-item);
  background-color: color(form-bg);
  color: color(main);
  display: block;
  line-height: 1em;
  margin: 0;
  padding: 7px 18px 5px 8px;
  position: relative;
  text-transform: uppercase;
  width: auto;
}

.views-widget {
  position: relative;
}

.chzn-container-single .chzn-single > span:after,
.who-select-prefix:after {
  @include triangle-bottom;
}

.container-inline-date > .form-item {
  margin-right: 0;
}

.who-select-prefix {
  &.active:after {
    border-bottom: 4px solid color(main);
    border-top: 0;
  }

  + .form-item {
    background-color: color(form-bg);
    max-width: 215px;
    padding: 8px;
    position: absolute;

    input {
      @include placeholder {
        color: color(main);
      }
      @include rem(font-size, $form-item);
      border: 1px solid color(input-bd);
      color: color(main);
      max-width: 100%;
      padding-right: 25px;
    }
  }
}
