#cboxOverlay {
  opacity: 1 !important;
}

#colorbox {
  padding-right: 20px;
}

#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight,
#cboxMiddleRight,
#cboxMiddleLeft {
  display: none;
}

#cboxWrapper {
  overflow: initial;
}

#cboxContent {
  overflow: initial;
  margin-bottom: 40px;
  margin-top: 35px;
}

#cboxContent,
#cboxWrapper {
  background: none;
}

#cboxClose {
  background: none;
  bottom: 100%;
  font-size: 0;
  height: 19px;
  left: 100%;
  margin-bottom: 12px;
  margin-left: 12px;
  right: auto;
  top: auto;
  width: 19px;

  &:after,
  &:before {
    border-bottom: 1px solid color(colorbox-close-button);
    content: '';
    display: block;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    margin-top: -1px;
    transform: rotate(-45deg);
  }
}

#cboxTitle {
  @include lh-fs(18px, $h4);
  background-color: color(caption-bg);
  bottom: 0;
  color: color(caption-title);
  display: block !important;
  left: 0;
  height: auto !important;
  padding: 26px 15px 20px 58px !important;
  position: fixed;
  right: 0;
  top: auto;

  &:before {
    @include sprite($caption);
    content: '';
    display: block;
    left: 15px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
  }
}

.header-image-lightbox {
  img {
    @include rem(height, 640px);
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  [class*="field-caption"] {
    @include container;
    margin-bottom: 13px;
    margin-top: 0;
    min-height: 32px;
    padding-top: 5px;
    position: relative;
    text-align: left;

    &:before {
      @include sprite($caption);
      content: '';
      display: block;
      left: 0;
      margin-top: -16px;
      position: absolute;
      top: 50%;
    }

    .field-content {
      margin-left: 32px;
    }
  }

  .field-content {
    text-align: center;
  }

  a.colorbox {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    &:after {
      @include sprite($fullscreen);
      bottom: 8px;
      content: '';
      display: block;
      left: 8px;
      position: absolute;
    }
  }
}

@include breakpoint($md-1 0) {
  .header-image-lightbox {
    a.colorbox {
      @include rem(height, 580px);
      display: block;
    }

    img {
      @include centered-image;
      @include rem(height, 580px);
      max-width: none;
    }
  }
}
