.comiseo-daterangepicker-triggerbutton {
  .ui-button-text,
  &.ui-button {
    @include rem(font-size, $form-item);
    background: color(form-bg);
    border: 0;
    border-radius: 0;
    color: color(main);
    display: inline-block;
    line-height: 1em;
    margin: 0;
    min-width: auto;
    position: relative;
    text-transform: uppercase;
    width: auto;
  }

  .ui-button-text {
    padding: 0;
  }

  &.ui-button {
    padding: 6px 18px 5px 8px;
    position: relative;
  }

  .ui-button-icon-secondary {
    @include triangle-bottom;
    margin: 0;
  }

  &.comiseo-daterangepicker-active .ui-button-icon-secondary {
    border-bottom: 4px solid color(main);
    border-top: 0;
  }
}

.comiseo-daterangepicker {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;

  .ui-widget-content.comiseo-daterangepicker-calendar {
    display: none;
  }

  .ui-datepicker-calendar thead,
  .ui-priority-secondary {
    display: none;
  }

  .ui-widget-content {
    background: none;
    border: 0;
    display: block;
    height: auto;
    padding: 0;
  }

  .ui-datepicker-multi .ui-datepicker-group table {
    width: 93%;
  }

  .ui-datepicker .ui-datepicker-header {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  .ui-datepicker-title {
    padding-bottom: 8px;
    padding-top: 6px;

    span {
      @include rem(font-size, $h2);
    }
  }

  .ui-datepicker-multi {
    display: flex !important;

    .ui-datepicker-group-first {
      margin-right: 30px;
    }

    > div {
      background-color: color(form-bg);
      flex: 1 0 auto;
      padding-bottom: 10px;
    }

    .ui-datepicker-row-break {
      display: none;
    }
  }

  // Prev month button
  .ui-datepicker-next,
  .ui-datepicker-next span,
  .ui-datepicker-next.ui-state-hover,
  .ui-datepicker-prev,
  .ui-datepicker-prev span,
  .ui-datepicker-prev.ui-state-hover {
    background: none;
    border: 0;
    font-size: 0;
    height: 30px;
    padding: 0;
    text-align: center;
    text-indent: initial;
    width: 30px;
  }

  .ui-datepicker-next span:hover,
  .ui-datepicker-prev span:hover {
    background: color(date-cell-h);
    cursor: pointer;
  }

  .ui-datepicker-prev span {
    margin-top: -14px;

    &:after {
      @include fa-icon($fa-angle-left);
      @include rem(font-size, $angle);
    }
  }

  .ui-datepicker-prev.ui-state-hover {
    left: 2px;
    top: 2px;
  }

  .ui-datepicker-next span {
    margin-top: -14px;

    &:after {
      @include fa-icon($fa-angle-right);
      @include rem(font-size, $angle);
    }
  }

  .ui-datepicker .ui-datepicker-next,
  .ui-datepicker .ui-datepicker-next.ui-state-hover {
    right: 25px;
    top: 2px;
  }

  // Datepicker cells
  .comiseo-daterangepicker-main {
    // Default cell
    .ui-state-default,
    .ui-widget-content .ui-state-default {
      @include rem(font-size, $date-cell);
      background: none;
      border: 0;
      height: 30px;
      line-height: 1em;
      text-align: center;
      width: 30px;
    }

    // Hover and focus cell states
    .ui-datepicker-calendar .ui-state-hover,
    .ui-datepicker-calendar .ui-state-focus {
      background: color(date-cell-h);
    }

    // Chosen day
    .comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
      background: color(main);
    }

    // Current day
    .ui-datepicker-today .ui-state-default {
      background: none;
      border: 1px solid color(main);
    }
  }

  // Action links
  > .ui-helper-clearfix {
    display: none;
  }

  // Presets menu
  .comiseo-daterangepicker-presets {
    @include clr;
    display: block;
    height: auto;
    margin-bottom: 30px;
    padding: 0;
  }

  .ui-menu {
    background-color: color(form-bg);
    border-radius: 0;

    li:last-child a:not(.pick-a-date) {
      display: none;
    }

    .pick-a-date {
      padding-left: 30px;
      position: relative;
    }

    .pick-a-date:before {
      @include sprite($calendar);
      content: '';
      display: inline-block;
      left: 8px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
    }

    a {
      @include rem(font-size, $form-item);
      color: color(main);
      font-weight: $bold;
      line-height: 1;
      padding: 8px 18px 8px 8px;
      position: relative;
      text-transform: uppercase;
    }

    .ui-menu-item a.ui-state-focus,
    .ui-menu-item a.ui-state-active {
      background: color(option-h);
      border: 0;
      font-weight: $bold;
      margin: 0;
    }

    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-right,
    .ui-corner-br {
      border-radius: 0;
    }
  }
}

input.daterangepicker {
  opacity: 0;
}

@include breakpoint($md-1 0) {
  .comiseo-daterangepicker-triggerbutton {
    .ui-button-text,
    &.ui-button {
      display: block;
      width: 100%;
    }

    &.ui-button {
      padding: 15px 18px 13px 8px;
    }

    .ui-button-icon-secondary {
      right: 8px;
      top: 19px;
    }
  }
}
