.footer {
  background-color: color(main);
  font-feature-settings: initial;
  font-variant-numeric: initial;
  overflow: hidden;
  padding-bottom: 34px;
  padding-top: 41px;

  .footer-inner {
    position: relative;
  }

  & * {
    @include lh-fs(25px, $footer-font-size);
  }

  ul.menu {
    padding-left: 0;
  }

  p,
  li,
  strong {
    color: color(footer-text-color);
  }

  .block-working-hours {
    p {
      margin-bottom: 23px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    strong {
      display: inline-block;
      width: 83px;
    }
  }

  a {
    color: color(footer-text-color);
    text-decoration: none;

    &:hover {
      color: color(footer-text-color-active);
    }
  }

  .logo-footer a {
    @include sprite($logo-footer);
    display: block;
    margin-bottom: 24px;
  }

  .block-arts-council-england {
    bottom: 0;
    position: absolute;
    right: 10px;
  }

  .block-menu-footer ul.menu li,
  a.arrow {
    display: block;
    list-style-type: none;
    padding-left: 8px;
    position: relative;

    &:before {
      @include rem(font-size, $footer-arrow-font-size);
      content: '>';
      left: 0;
      line-height: 1em;
      position: absolute;
      top: 8px;
    }
  }

  .stay-up-to-date p a {
    background-color: color(footer-social-connectors-background-color);
    color: color(main);
    display: inline-block;
    margin-top: 20px;
    padding: 8px 30px 4px;
  }

  .block-webform-stay-up-to-date {
    padding-bottom: 54px;

    h2 {
      color: color(footer-text-color);
    }
  }
}

@include breakpoint($tablet-1 0) {
  .footer {
    .block-working-hours {
      margin-bottom: 30px;
    }

    .block-menu-footer {
      margin-bottom: 48px;
    }

    .block-arts-council-england {
      margin-top: 80px;
      padding: 0 10px;
      position: static;
    }
  }
}
