.footer {
  background-color: color(main);
  padding-bottom: 34px;
  padding-top: 41px;

  .footer-inner {
    position: relative;
  }

  & * {
    @include lh-fs(25px, $footer-font-size);
  }

  ul.menu {
    padding-left: 0;
  }

  p,
  li,
  strong {
    color: color(footer-text-color);
  }

  .block-working-hours strong {
    display: inline-block;
    width: 83px;
  }

  a {
    color: color(footer-text-color);
    text-decoration: none;

    &:hover {
      color: color(footer-text-color-active);
    }
  }

  .logo-footer a {
    @include sprite($logo-footer);
    display: block;
    margin-bottom: 24px;
  }

  .block-arts-council-england {
    bottom: 0;
    position: absolute;
    right: 0;
  }

  .block-menu-footer ul.menu li,
  a.arrow {
    display: block;
    list-style-type: none;
    padding-left: 8px;
    position: relative;

    &:before {
      @include rem(font-size, $footer-arrow-font-size);
      content: '>';
      left: 0;
      line-height: 1em;
      position: absolute;
      top: 8px;
    }
  }

  .block-webform-stay-up-to-date {
    padding-bottom: 54px;

    h2 {
      color: color(footer-text-color);
    }
  }
}

.footer form.webform-client-form {
  max-width: 70%;
  position: relative;

  &:after {
    @include clr;
  }

  input.form-text {
    @include rem(font-size, $footer-stay-up-to-date-font-size);
    @include placeholder {
      color: color(footer-text-color);
      opacity: 1;
    }
    background-color: transparent;
    border: 1px solid color(footer-stay-up-to-date-color);
    color: color(footer-text-color);
    height: 31px;
    padding: 9px 37px 3px 6px;
    width: 100%;
  }

  fieldset {
    display: block;
  }

  .form-actions {
    position: absolute;
    right: 0;
    top: 0;

    .form-submit {
      background-color: color(footer-stay-up-to-date-color);
      border: 0;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 31px;
      padding: 0;
      width: 31px;
    }
  }
}
