.webform-client-form {
  max-width: 70%;
  position: relative;

  &:after {
    @include clr;
  }

  input.form-text {
    @include rem(font-size, $footer-stay-up-to-date-font-size);
    @include placeholder {
      color: color(footer-text-color);
      opacity: 1;
    }
    background-color: transparent;
    border: 1px solid color(footer-stay-up-to-date-color);
    color: color(footer-text-color);
    height: 31px;
    padding: 9px 37px 3px 6px;
    width: 100%;
  }

  fieldset {
    display: block;
  }

  .form-actions {
    position: absolute;
    right: 0;
    top: 0;

    .form-submit {
      background-color: color(footer-stay-up-to-date-color);
      border: 0;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 31px;
      padding: 0;
      width: 31px;
    }
  }
}
