.block-search-form {
  display: none;
  float: right;
  margin-top: 4px;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  .form-item-search-block-form label {
    clip: auto;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 11px;
    right: 9px;
    top: 8px;
    width: 11px;
    z-index: 1;
    
    &:before,
    &:after {
      background-color: color(main);
      content: '.';
      display: block;
      font-size: 0;
      height: 1px;
      right: -2px;
      pointer-events: none;
      position: absolute;
      top: 5px;
      width: 15px;
      z-index: 1;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }

  input.form-text {
    @include lh-fs(16px, $form-search-font-size);

    padding: 4px 10px 0 36px;
    width: 100%;
  }

  .form-actions {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;

    input.form-submit {
      @include sprite($search-bar-form);

      background-color: transparent;
      cursor: pointer;
      font-size: 0;
      margin-left: 10px;
      padding: 0;
      position: relative;
      top: -2px;
    }
  }
}
