.header {
  min-height: 144px;

  .logo a {
    @include rem(max-width, 239px);
    left: 10px;
    position: absolute;
    top: 24px;
    z-index: 9;
  }

  [class*='field-caption'] {
    bottom: 0;
    position: absolute;
    right: 10px;
    z-index: 9;
  }
}

.header-image {
  @include rem(max-height, 500px);
  overflow: hidden;
  position: relative;

  img {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
  }

  &-lightbox img {
    min-width: auto;
  }

  .views-field-field-paragraph-left-image,
  .views-field-field-paragraph-right-image {
    float: left;
    width: 50%;
  }

  .views-field-field-paragraph-left-image {
    padding-right: 10px;

    img {
      margin-right: 0;
    }
  }

  .views-field-field-paragraph-right-image {
    padding-left: 10px;

    img {
      margin-left: 0;
    }
  }

  &-two-col {
    @include rem(max-height, 400px);
    overflow: hidden;

    .view-content {
      @include make-row;
    }
  }

  &-wide .header-image-two-col .views-row {
    @include make-md-column(8);
    @include make-md-column-offset(2);
    padding: 0;
  }

  &-narrow .header-image-two-col .views-row {
    @include make-md-column(6);
    @include make-md-column-offset(3);
    padding: 0;
  }

  &-gallery .views-field-caption {
    background-color: color(darken-background);
    margin-top: 0;
    padding: 10px;
    position: static;
    text-align: left;
  }
}

.header-pane {
  background-color: color(main);
}

.region-header-pane {
  &:after {
    @include rem(font-size, 0);
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

  .block-menu-main {
    float: left;
  }

  .block-menu-user {
    float: right;
  }
}


.region-header-pane .block-menu ul.menu {
  padding-left: 0;

  &:after {
    @include rem(font-size, 0);
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

.region-header-pane .block-menu ul.menu li {
  display: inline-block;
  float: left;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;

  &.first {
    padding-left: 6px;
  }

  &.last {
    padding-right: 6px;
  }

  a {
    color: color(main-menu-text-color);
    font-size: $main-menu-link-size;
    text-decoration: none;

    &:hover {
      color: color(main-menu-text-color-active);
    }
  }
}

.region-header-pane .block-menu-user ul.menu li a {
  color: color(user-menu-text-color);
  font-size: $user-menu-link-size;

  &:hover {
    color: color(user-menu-text-color-active);
  }

  &.search-bar {
    background-image: url('../images/icons/sprite.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 17px;
    margin-top: 6px;
    position: relative;
    text-indent: -9999px;
    transition: none;
    width: 16px;

    &:hover {
      background-position: -16px 0;
    }
  }
}
