.header {
  min-height: 144px;

  .logo a {
    @include rem(max-width, 239px);
    left: 10px;
    position: absolute;
    top: 24px;
    z-index: 9;
  }

  .embedded-video iframe {
    display: block;
    height: 500px;
  }

  .video-embed-description:not(:empty) {
    display: block;
    padding: 10px;
  }
}

.header-image {
  [class*='field-caption'] {
    bottom: 0;
    position: absolute;
    right: 10px;
    z-index: 9;
  }

  .views-row {
    @include rem(height, 500px);
    overflow: hidden;
    position: relative;
  }

  img {
    @include centered-image;
    @include rem(min-height, 500px);
    max-width: none;
    min-width: 100%;
  }

  &-two-col {
    @include rem(max-height, 400px);
    margin-top: 24px;
    overflow: hidden;

    .view-content {
      @include make-row;
    }
  }

  &-wide .header-image-two-col .views-row {
    @include make-md-column(8);
    @include make-md-column-offset(2);
    padding: 0;
  }

  &-narrow .header-image-two-col .views-row {
    @include make-md-column(6);
    @include make-md-column-offset(3);
    padding: 0;
  }

  &-gallery .views-field-caption {
    background-color: color(darken-background);
    margin-top: 0;
    position: static;
    text-align: left;

    .field-content:not(:empty) {
      display: block;
      padding: 10px;
    }
  }
}

.header-pane {
  background-color: color(main);

  &:after {
    @include clr;
  }

  .block-menu-main {
    float: left;
  }

  .block-menu-user {
    float: right;
  }

  ul.menu {
    padding-left: 0;

    &:after {
      @include clr;
    }
  }

  ul.menu li {
    display: inline-block;
    float: left;
    padding: 7px 16px 5px;

    &.first {
      padding-left: 6px;
    }

    &.last {
      padding-right: 6px;
    }

    a {
      color: color(main-menu-text-color);
      font-size: $main-menu-link-size;
      text-decoration: none;
    }

    a:hover {
      color: color(main-menu-text-color-active);
    }
  }
}
