.header-pane {
  @include clr;
  background-color: color(main);
  padding-bottom: 3px;
  padding-top: 3px;

  .block-menu-main {
    float: left;
  }

  .block-menu-user {
    float: right;
  }

  ul.menu {
    @include clr;
    padding-left: 0;
  }

  ul.menu li {
    display: inline-block;
    float: left;
    padding: 7px 16px 5px;

    &.first {
      padding-left: 0;
    }

    &.last {
      padding-right: 0;
    }

    a {
      color: color(main-menu-text-color);
      font-size: $main-menu-link-size;
      text-decoration: none;
    }

    a:hover {
      color: color(main-menu-text-color-active);
    }
  }

  &.show-search-form {
    .block-menu-user {
      display: none;
    }

    .block-search-form {
      display: block;
    }
  }
}
