.block-menu-social-connectors ul.menu li {
  display: inline-block;
  float: left;

  a {
    background-color: color(footer-social-connectors-background-color);
    border-radius: 2px;
    color: color(main);
    display: inline-block;
    float: left;
    font-size: 0;
    height: 24px;
    margin-right: 12px;
    position: relative;
    text-align: center;
    width: 24px;

    &:before {
      @include rem(font-size, $footer-social-connectors-font-size);
      bottom: 0;
      left: 0;
      line-height: 1em;
      position: absolute;
      right: 0;
      text-indent: 0;
      top: 4px;
    }

    &.fa-facebook-f:before {
      @include rem(font-size, $footer-social-connectors-fb-font-size);
      left: 4px;
      top: 2px;
    }

    &:hover {
      background-color: color(footer-text-color-active);
    }
  }
}

@include breakpoint($tablet-1 0) {
  .block-menu-social-connectors {
    @include clr;

    ul.menu li a {
      height: 40px;
      width: 40px;

      &.fa-facebook-f:before {
        top: 4px;
      }

      &.fa-facebook-f:before,
      &:before {
        @include rem(font-size, $menu-social-resp);
      }
    }
  }
}
