.block-menu-user ul.menu li a {
  color: color(user-menu-text-color);
  font-size: $user-menu-link-size;

  &:hover {
    color: color(user-menu-text-color-active);
  }

  &.search-bar {
    @include sprite($search-bar-inactive);
    display: block;
    font-size: 0;
    margin-top: 3px;
    position: relative;
    transition: none;

    &:hover {
      @include sprite($search-bar-active);
    }
  }
}

@include breakpoint($tablet-1 0) {
  .block-menu-user ul.menu li a {
    @include lh-fs(38px, $user-menu-link-size-responsive);
    color: color(user-menu-responsive);

    // Reverting default states for searchbar
    &.search-bar:hover,
    &.search-bar {
      @include rem(font-size, $user-menu-link-size-responsive);
      background: none;
      height: auto;
      margin-top: 0;
      width: auto;
    }

    &.search-bar:before {
      @include sprite($search-bar-responsive);
      content: '';
      display: inline-block;
      left: -5px;
      position: relative;
      top: 3px;
    }
  }
}
