@include breakpoint($md-1 0) {

  .paragraphs-item-2-column-image-left-image-right {
    .field-type-image {
      float: left;
      width: 50%;
    }

    .field-name-field-paragraph-left-image {
      padding-right: 7px;
    }

    .field-name-field-paragraph-right-image {
      padding-left: 7px;
    }
  }
}
