.paragraphs-item-image-reading-width-colorbox .colorbox-content-image-title:not(:empty) {
  @include rem(font-size, $p-sm);
  @include rem(margin-top, 7px);
  @include rem(padding-left, 28px);
  color: color(caption-color);
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:before {
    @include sprite($fullscreen);
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: -3px;
  }
}
