.paragraphs-item-attachments {
  .file-icon {
    display: none;
  }

  .file {
    display: inline-block;
    margin-right: 20px;
  }

  a {
    text-decoration: none;

    &:before {
      @include fa-icon($fa-icon-file);
      margin-right: 5px;
    }

    &[href*='.png']:before {
      @include fa-icon($fa-icon-png);
    }

    &[href*='.txt']:before {
      @include fa-icon($fa-icon-txt);
    }

    &[href*='.pdf']:before {
      @include fa-icon($fa-icon-pdf);
    }

    &[href*='.xls']:before {
      @include fa-icon($fa-icon-xls);
    }

    &[href*='.doc']:before {
      @include fa-icon($fa-icon-doc);
    }
  }
}
