.page-print-sales {
  h1 {
    left: 10px;
    position: relative;
  }

  &-explore-artwork .past-programme,
  &-explore-artist .now-upcoming {
    border-bottom: 2px solid color(heading);
    display: inline;
    font-weight: $bold;
    text-decoration: none;
  }

  .view-filters {
    @include make-md-column(8);

    form,
    &.clonned {
      float: right;
    }

    .views-exposed-widget {
      margin-left: 30px;
      padding: 0;
    }

    .views-submit-button,
    .views-exposed-widget:first-child {
      margin-left: 0;
    }
  }
}

.print-sales {
  clear: both;
  padding-top: 5px;

  .views-row {
    margin-bottom: 50px;

    &:nth-child(3n + 1) {
      clear: both;
    }
  }

  .views-field-title {
    @include ellipsis-title;
    margin-top: 5px;
  }

  &-artist .field-image {
    background-color: color(view-image-background);
    height: 400px;
    padding: 8px;
    position: relative;

    .field-content {
      height: 100%;
      position: relative;
      width: 100%;
    }

    img {
      left: 50%;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
    }
  }
}
