.related-activities {
  * {
    color: color(related-activities-color);
  }

  img {
    width: 100%;
  }

  &-wrapper {
    @include rem(padding-bottom, 45px);
    @include rem(padding-top, 20px);
    background-color: color(darken-background);

    .block-title {
      @include container;
      @include rem(font-size, 18px);
    }
  }

  > .view-content {
    @include make-row;
  }

  [class*='field-paragraphs-overview-image'] {
    @include rem(margin-bottom, 10px);
  }

  [class*='field-event-dates'] *,
  [class*='-type'] *,
  [class*='field-paragraphs-date-published'] * {
    @include lh-fs(18px, 12px);
    font-weight: bold;
    text-transform: uppercase;
  }

  [class*='field-event-dates'] *,
  [class*='field-paragraphs-date-published'] * {
    float: right;
  }

  [class*='-type'] * {
    float: left;
  }

  [class*='field-paragraph-title'] {
    clear: both;
    display: block;
    max-width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include breakpoint($md-1 0) {
  .related-activities .views-row {
    @include rem(margin-bottom, 20px);
  }
}
