@include breakpoint($tablet-1 0) {
  .resp-menu {
    float: right;
    height: 16px;
    padding: 7px 0;
    position: relative;
    transition: .5s ease-in-out;
    width: 18px;

    &:hover {
      cursor: pointer;
    }

    span {
      background: color(responsive-menu-icon);
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      transition: .25s ease-in-out;
      width: 100%;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        margin-top: -1px;
        top: 50%;
      }

      &:nth-child(4) {
        bottom: 0;
      }
    }
  }

  .fixed-menu .resp-menu {
    span:nth-child(1) {
      left: 50%;
      top: 50%;
      width: 0;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      left: 50%;
      bottom: 50%;
      width: 0;
    }
  }
}
