article .webform-client-form {
  padding-bottom: 45px;

  label:not(.option) {
    @include rem(font-size, $form-label);
    color: color(form-label);
  }

  .webform-container-inline label {
    margin-right: 0;
  }

  table {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .chzn-container-single .chzn-single > span,
  .chzn-container .chzn-results li,
  .who-select-prefix {
    @include rem(font-size, $p);
    padding: 10px 18px 4px 8px;

    &:after {
      top: 15px;
    }
  }

  .element-invisible {
    display: none;
  }

  .form-item {
    @include make-row;
    margin-bottom: 10px;
    margin-top: 10px;

    &.webform-component-markup,
    &.webform-component--introduction {
      margin-left: 0;
      margin-right: 0;
    }

    .form-item {
      margin: 0;
    }

    label:not(.option) {
      @include make-md-column(3);
      padding-top: 3px;
    }

    label + select,
    label + input {
      margin-left: 10px;
      margin-right: 10px;
      opacity: 1;
      width: 50%;
    }
  }

  .form-checkboxes {
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
  }

  .webform-component-radios.form-item .form-type-radio {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .webform-component-checkboxes.form-item > label,
  .webform-component-email.form-item > label,
  .webform-component-select.form-item > label,
  .webform-component-textfield.form-item > label,
  .webform-component-textarea.form-item > label,
  .webform-component-radios.form-item > label,
  .webform-component-date.form-item label {
    display: inline-block;
    float: none;
    margin-top: 20px;
    width: auto;
  }


  .webform-component-textfield .chzn-container-single .chzn-single > span,
  .webform-component-select .chzn-container-single .chzn-single > span {
    padding-right: 30px;

    &:after {
      border-width: 7px;
      right: 11px;
    }
  }

  .form-item > label.error {
    @include rem(font-size, $form-error);
    color: color(form-error);
    margin: 0 10px;
    padding: 0;
    text-align: right;
    width: 50%;
  }

  .webform-component-date .form-item {
    @include make-md-column(3);

    // Override default inline value
    .chzn-container {
      width: 100% !important;
    }

    &[class*='date-day'] {
      margin-right: 10px;
      padding-right: 0;
    }

    &[class*='date-month'],
    &[class*='date-year'] {
      margin-left: 10px;
      padding-left: 0;
    }
  }

  .webform-component-email.form-item,
  .webform-component-textfield.form-item {
    select,
    input {
      display: block;
    }
  }

  .webform-component-textarea.form-item {
    margin: 10px 0;

    label {
      padding: 0;
    }

    .grippie {
      display: none;
    }
  }

  .webform-component-date.form-item {
    .chzn-container {
      margin-bottom: 10px;
      margin-left: 0;
    }

    .error {
      border: 1px solid;
    }

    .chzn-results {
      display: block;
    }
  }

  .chzn-container {
    margin-left: 10px;
    width: 50% !important;
  }

  .description {
    clear: both;
    padding: 10px;
  }

  .form-actions input ~ input {
    margin-left: 10px;
  }

  input[type='image'] {
    padding: 0;
  }
}

.webform-progressbar {
  .webform-progressbar-outer,
  .webform-progressbar-page {
    border-color: color(main);
  }

  .webform-progressbar-inner {
    background-color: color(main);
    float: left;
    height: 2px;
  }

  .webform-progressbar-page {
    margin-top: -3px;

    &.current,
    &.completed {
      background-color: color(main);
    }

    .webform-progressbar-page-label {
      font-size: $form-label;
      margin: 0 -11em;
    }
  }
}

@include breakpoint($laptop $tablet) {
  .webform-progressbar-page .webform-progressbar-page-label {
    font-size: $p-sm;
  }
}

@include breakpoint($tablet-1 0) {
  .webform-progressbar {
    width: 85%;

    &-page .webform-progressbar-page-label {
      font-size: 9px;
      display: block;
      left: -7px;
      margin: 0;
    }
  }
}
