.entity-paragraphs-item {
  @include rem(margin-bottom, 48px);
  &.paragraphs-item-header-gallery,
  &.paragraphs-item-title-section {
    margin-bottom: 0;
  }
}

.main-content {
  order: 1;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.node-type-events-detail,
.node-type-paragraphs-page {
  .first-sidebar,
  .second-sidebar,
  .main-content {
    margin-top: 50px;
  }
}

@include breakpoint($md-1 0) {
  .flex-responsive {
    display: flex;
    flex-direction: column;
  }

  .entity-paragraphs-item {
    @include rem(margin-bottom, 32px);
  }
}
