.front {
  background: $front-page-gradient;
  background-image: $homepage-gradient;

  &.admin-menu .view-header-image img {
    height: calc(100vh - 69px);
  }

  .header {
    min-height: auto;
  }

  .main-content * {
    color: color(text-on-dark);
  }

  .flex-responsive {
    margin-left: 0;
    margin-right: 0;

  }

  .view-header-image {
    margin-bottom: 40px;
    overflow: hidden;

    img {
      height: calc(100vh - 40px);
      margin: 0 auto;
      max-width: none;
      width: auto;
    }

    .views-row {
      position: relative;
    }

    .views-row:before {
      background: url('../images/icons/arrow-down.png') center no-repeat color(header-image-arrow-bg);
      bottom: 0;
      content: '';
      display: inline-block;
      height: 40px;
      left: 50%;
      margin-left: -10px;
      position: absolute;
      width: 40px;
    }
  }

  .pane-title {
    border-bottom-color: color(text-on-dark);
    color: color(text-on-dark);
  }
}
