.node-type-artist {
  .paragraphs-item-title-section {
    .field-type-datetime {
      display: none;
    }

    .field-name-field-paragraphs-type {
      margin-bottom: 1px;
    }

    .title-header {
      margin-bottom: 16px;
    }
  }
}
