.node-type-paragraphs-page {
  .header {
    background-color: color(darken-background);
  }

  .embedded-video iframe {
    display: block;
    height: 546px;
  }

  @include breakpoint($lg-1 0) {
    height: 360px;
  }
}
