.node-type-overview-page {
  h1.page-title {
    @include lh-fs(32px, $h2);
    border-bottom-width: 2px;
  }

  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.node-overview-page {
  a,
  p,
  li,
  label,
  blockquote {
    @include lh-fs(22px, $p-sm);
  }

  .field-collection-view {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 11px;
  }

  .field-name-field-subtitle {
    margin-bottom: 1.5625rem;
    margin-top: 2.0625rem;

    .field-item {
      @include lh-fs(25px, $h3);
      border-bottom: 1px solid color(heading);
      display: inline-block;
    }
  }

  .field-name-field-subtitle-description {
    margin-bottom: 1.5625rem;
  }

  .field-name-field-links {
    h2.title,
    .field-type-datetime,
    .field-type-taxonomy-term-reference,
    .field-name-event-start-end-dates {
      display: none;
    }

    .entity-paragraphs-item,
    .field-name-field-paragraph-description {
      margin-bottom: 0;
    }

    .field-name-field-link-description,
    .field-name-field-paragraph-description {
      max-height: 4.1rem;
      overflow: hidden;
    }

    .field-name-field-paragraph-title,
    .field-name-field-external-link-title {
      margin-bottom: 16px;
      margin-top: 17px;
    }

    .field-name-field-paragraph-title a,
    .field-name-field-external-link-title a {
      @include lh-fs(25px, $h3);
      border-bottom: 1px solid color(heading);
      text-decoration: none;
    }
  }

  .field-name-read-more a,
  .field-name-read-more-node a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .field-name-field-links > .field-items {
    margin-left: -10px;
    margin-right: -10px;

    &:after {
      @include clr;
    }

    & > .field-item {
      display: inline-block;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: top;
    }
  }
}
