.node-type-overview-page {
  h1 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .node-overview-page {
    a,
    p,
    li,
    label,
    blockquote {
      font-size: .875rem;
      line-height: 1.375rem;
    }

    .field-collection-view {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 0;
      padding-top: .58em;

      .field-name-field-subtitle {
        margin-bottom: 1.5625rem;
        margin-top: 2.0625rem;

        .field-item {
          border-bottom: 1px solid color(heading);
          display: inline-block;
          font-size: 1rem;
          line-height: 1.5625rem;
        }
      }

      .field-name-field-subtitle-description {
        margin-bottom: 1.5625rem;
      }

      .field-name-field-links {
        & > .field-items {
          margin-left: -10px;
          margin-right: -10px;

          &:after {
            clear: both;
            content: '';
            display: block;
            font-size: 0;
            height: 0;
            line-height: 0;
            visibility: hidden;
          }

          & > .field-item {
            display: inline-block;
            margin-bottom: 1.25rem;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: top;
          }
        }

        h2.title {
          display: none;
        }

        .field-type-datetime,
        .field-type-taxonomy-term-reference,
        .field-name-event-start-end-dates {
          display: none;
        }

        .entity-paragraphs-item,
        .field-name-field-paragraph-description {
          margin-bottom: 0;
        }

        .field-name-field-link-description,
        .field-name-field-paragraph-description {
          max-height: 4.1rem;
          overflow: hidden;
        }

        .field-name-field-paragraph-title,
        .field-name-field-external-link-title {
          margin-bottom: 16px;
          margin-top: 17px;

          a {
            border-bottom: 1px solid color(heading);
            font-size: 1rem;
            line-height: 1.5625rem;
            text-decoration: none;
          }
        }

        .field-name-read-more,
        .field-name-read-more-node {
          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
