.node-type-paragraphs-page {
  .header {
    background-color: color(darken-background);
  }

  .embedded-video iframe {
    display: block;
    height: 546px;
  }

  .field-name-field-paragraphs-content > .field-items > .field-item {
    float: left;
    width: 100%;
  }

  @include breakpoint($lg-1 0) {
    height: 360px;
  }
}
