.node-type-viewpoint {
  .header-image {
    margin-bottom: 40px;
  }

  .field-name-field-homepage-card-tag {
    @include rem(font-size, $p-sm);
    text-transform: uppercase;

    .field-items,
    .field-item {
      font-size: inherit;
    }
  }

  .field-name-title h1:after {
    margin-top: 40px;
  }

  .field-type-entityreference {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 43px;

    img {
      width: 100%;
    }

    h3 {
      border-bottom-width: 1px;
    }

    .field-type-datetime,
    .field-type-taxonomy-term-reference,
    .field-name-event-start-end-dates {
      display: none;
    }

    .col > .field-item {
      margin-bottom: 40px;
    }

    .entity-paragraphs-item {
      margin-bottom: 0;
      margin-top: 0;
    }

    .title {
      margin-top: 16px;
    }

    .field-type-text-with-summary {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    p,
    .entity-read-more {
      @include rem(font-size, $p-sm);
      text-decoration: none;
    }

    .entity-read-more:before {
      @include rem(font-size, $read-more-arrow-font-size);
      content: '> ';
      display: inline-block;
      line-height: 1em;
      margin-right: 3px;
      position: relative;
    }
  }
}

@include breakpoint($md-1 0) {
  .node-type-viewpoint {
    .header-image {
      margin-bottom: 16px;
    }

    h1:after,
    .field-name-title h1:after {
      margin-top: 27px;
    }

    .field-type-entityreference {
      margin-top: 17px;

      .col-2 .field-item:last-child {
        margin-bottom: 5px;
      }

      .col > .field-item {
        margin-bottom: 30px;
      }
    }
  }
}
