.page-viewpoints {
  .view-viewpoints {
    clear: both;
  }

  // Replacing default layout to full width
  .logo.container,
  .header-pane .container,
  .footer-inner.container,
  .post-content.container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .header .logo a {
    left: 20px;
  }

  .viewpoints-intro {
    max-width: 800px;
  }
}
