.page-whats-on {
  &-past-programme .past-programme,
  &-now-upcoming .now-upcoming {
    border-bottom: 2px solid color(heading);
    color: color(main);
    display: inline;
    font-weight: $bold;
    text-decoration: none;
  }

  form {
    float: right;

    label {
      @include rem(font-size, $form-item);
      font-weight: bold;
      line-height: 1em;
      margin-right: 8px;
      margin-top: 7px;
    }
  }

  form label,
  .views-widget,
  .views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0;
  }

  .views-exposed-form .views-exposed-widget:not(:first-child) {
    margin-left: 30px;

    .form-submit {
      @include rem(font-size, $form-item);
      margin-top: 0;
      padding-bottom: 5px;
      padding-top: 7px;
      text-transform: uppercase;
    }

    .ajax-progress-throbber {
      position: absolute;
    }
  }

  .views-widget-filter-tid:hover {
    cursor: pointer;
  }
}
