.page-whats-on {
  &-past-programme .past-programme,
  &-now-upcoming .now-upcoming {
    border-bottom: 2px solid color(heading);
    display: inline;
    font-weight: $bold;
    text-decoration: none;
  }

  .content-inner {
    overflow: hidden;
  }

  .page-title {
    display: none;
  }
}

.now-upcoming,
.past-programme {
  color: color(main);
}

@include breakpoint($tablet-1 0) {
  .page-whats-on .region-content {
    display: flex;
    flex-direction: column;

    .whats-on-tabs {
      order: 1;
    }

    .whats-on-description {
      margin-bottom: 20px;
      order: 2;
    }

    .whats-on-filter {
      margin-bottom: 7px;
      order: 3;
    }

    > .block-system {
      order: 4;
    }
  }
}
