.page-search {
  .page-title,
  .region-content .search-form {
    display: none;
  }

  .gd-infinite-scroll-load-more {
    background-color: color(load-more-bg);
    clear: both;
    color: color(load-more-text);
    margin-bottom: 46px;
    min-width: 0;
    padding-bottom: 8px;
  }
  
  .gd_infinite_scroll-ajax-loader {
    display: none;
  }
}

.search-results {
  padding-left: 0;
  padding-top: 4px;

  li {
    margin-bottom: 42px;
    
    &:nth-child(3n+4) {
      clear: left;
    }
  }

  .search-overview-image {
    background-color: color(search-result-image-bg);
    height: 240px;
    margin-bottom: 13px;
    overflow: hidden;
  }

  .search-snippet-info {
    padding-left: 0;

    p {
      @include rem(font-size, $p-sm);
    }
  }

  .title {
    @include rem(font-size, $h3);
  }

  .search-snippet {
    margin-top: 11px;
  }
}
